@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #ffffff;
    color: #2c3e50;
    height: 100%;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    border-bottom: 2px solid #2980b9;
}

a:hover {
    color: #2980b9;
}

/* Header */

header {
    width: 100%;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

.logo {
    font-size: 46px;
    color: #2980b9;
    font-family: 'Bitter', serif;
    font-weight: bold;
}

.nav-item {
    margin: 0 10px;
    color: #2c3e50;
}

.nav-item2 {
    margin: 0 10px;
    color: #ffffff;
	display: flex;
    flex-direction: column;
	border:0;
	justify-content: space-between;
}

/* Greeting */


.greeting {
    font-size: 52px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greeting-text {
    font-size: 56px;
    text-transform: uppercase;
}

.greeting-name {
    text-transform: uppercase;
    font-weight: bold;
    color: #2980b9;
    font-family: 'Bitter', serif;
}

/* Angle icon */

.angle-icon {
    text-align: center;
}
.angle-down {
    position: absolute;
    bottom: 0;
    right: auto;
    left: auto;
    color: #2c3e50;
}

/* About */

.about {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 100px 0;
}

.about-title {
    font-size: 30px;
}


.about-image {
    width: 15%;
    border-radius: 50%;
    padding: 50px 0;
}

.about-text {
    padding-top: 20px;
    margin: 0;
}

.about-content {
    padding-top: 20px;
    margin: 5px;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.view-resume-button {
    font-size: 24px;
    padding-top: 100px;
}

.view-resume-button-link {
    text-decoration: none;
    color: #ecf0f1;;
    text-transform: uppercase;
    font-family: 'Bitter', serif;
    font-weight: bold;
}

/* Video */

.video {
    text-align: center;
    padding: 200px 0 100px 0;
}

.video-title {
    font-size: 56px;
    text-transform: uppercase;
}

.video-image {
    padding: 100px 0;
    width: 65%;
}

.video-watch {
    font-size: 24px;
}

.video-link {
    text-decoration: none;
    color: #2c3e50;
    text-transform: uppercase;
    font-family: 'Bitter', serif;
    font-weight: bold;
}

/* Footer */

.footer {
    background-color: #bdc3c7;
    color: #2c3e50;
    text-align: center;
    padding: 100px;
}

.footer-title {
    font-size: 20px;
}

.footer-subtitle {
    font-size: 11px;
}

.social-media {
    padding: 50px;
}

.social-media-icon {
    display: inline-block;
    padding: 10px;
}

.social-media-icon:hover {
    color: #2980b9;
}

.social-media-icon-link {
    text-transform: none;
    color: #2c3e50;
    border:none;
}

.trademark {
    font-size: 13px;
    color: #7f8c8d;
}
