@import url('https://fonts.googleapis.com/css?family=Permanent+Marker'); /* go to https://fonts.google.com/ and paste the @import bit; you can add more fonts below */

html {
    height: 100%;
	font-family: 'Permanent Marker';
}

body {
    margin: 0;
    background-color: #fff0e6;
    color: #2c3e50;
    height: 100%;
    font-size: 18px;
    font-family: 'Permanent Marker';
}


.landing_screen {
	height: 100%;
	background-color: #ffdbc6; /* sky colour */ 
}


.title {
	height: 20%;
}


.title_text {
	font-size: 60px;
	text-align: center;
}

.page_title {
	font-size: 30px;
	text-align: center;
	color: #2c3e50; /* dark blue */
	padding: 30px;
}

.sky {	
	height: 80%;
	
	
}

.sun {
    width: 30%;
    height:0;
    padding-bottom: 30%; /* need to keep width = padding bottom */
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background: #ffe500;
	margin: auto; /* to center the sun horizontally, i.e. have the same margins left and right */

}



.video_screen {
	height: 240%; /* to control the height of the blue section */
	background: #a0ceff
}


.sea {
	background: #a0ceff
}

.video_top {
	height: 10%;
	width: 100%;
	display: flex;
	text-align: center;
}

.video_title {
	font-size: 40px;
    width: 50%;
	flex: 50%;
	
}	


.video_bottom {
	height: 90%;
	width: 100%;
	display: flex;
	justify-content: space-around;
}	


.video_year {
	color: #ff66ed; /* green */
	font-size: 30px;
	display: flex;
	flex-direction: column;
	
}
	
.video_content {
	font-size: 15px;
	color: #ffffff; /* white */
	text-decoration: none;
}	

.back_home_button {
	font-size: 20px;
	color: #2c3e50; /* dark blue */
	text-decoration: none;
}	

.photo_section {
	display: flex;
	padding: 10px;
	flex-direction: column;
	align-items: center;
}

.photo_row {
	display: flex;
	padding: 10px;
	flex-direction: row;
	justify-content: space-between;
}

.photo_item {
	padding: 10px;
}


a:hover {
    color: #4f6f8e; /* change text colour when the user hovers over the link */
}



.footer {
	height: 10%;
    background-color: #ffee9e;
    color: #2c3e50;
    text-align: center;
    padding: 20px;
}	

	
.trademark {
	font-size: 13px;
    color: #2c3e50;
}


























