body {				
	color: #2c3e50;
	background-color: #ecf0f1;
	margin: 0; /*other wise everything will be wrapped in a small margin*/
	font-family: 'Raleway';
}

/* Header */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px auto;
	width: 80%;
}


.logo {
	color: #2980b9;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 46px;
	font-family: 'Bitter';
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	
}


.greeting {
	text-align: center;
	font-size: 52px;
}

.greeting-text {
	font-style: italic;
}

.greeting-name {
	color: #2980b9;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Bitter';	
}


.nav-item {
	border-bottom: 1px solid #2980b9;
	text-decoration: none;
	color: #2c3e50;
	margin: 0 10px;
}



/* About */

.about {
	background-color: #2c3e50;
	padding: 20px 0 20px 0; /*starts from the top, then right, bottom, left (clockwise)*/
	text-align: center;
}

.about-title {
	color: #ecf0f1;
	font-size: 56px;
	text-transform: uppercase;
}

.about-image {
	width: 15%;
	border-radius: 50%; /*50 is what you need for a perfect circle, if height = width on the base image */
}

.about-text {
	color: #ecf0f1;
}

.view-resume-link {
	color: #ecf0f1;
	font-weight: bold;
	border-bottom: 1px solid #2980b9;
	text-decoration: none;
	font-family: 'Bitter';
}

/* Footer */

.footer {
	padding: 100px;
	text-align: center;
	background-color: #bdc3c7;


.footer-title {
	text-transform: uppercase;
	color: #2c3e50;
	font-size: 56px;
	text-align: center;
}

.footer-trademark {
	color: #7f8c8d;
	font-size: 13px; /*By law in the UK you are not allowed to have text smaller than 12px, e.g. otherwise people make tiny 'unsubscribe buttons etc*/
	text-align: center;
}


.social-media {
	text-align: center;
	padding: 50px;
}


.social-media-link {
	color: #2c3e50;
	margin: 0 10px 0 10px;
}
	


/* Resume */

.resume {
	background-color: #2c3e50;
	padding: 20px 0 20px 0; /*starts from the top, then right, bottom, left (clockwise)*/
	text-align: center;
}

.resume-title {
	color: #ecf0f1;
	font-size: 56px;
	text-transform: uppercase;
}

.resume-image {
	width: 25%;

}


